replicaCount: 1

image:
  repository: harbor.vinhthai.io.vn/template-ainetwork/ai-network-config-helper
  pullPolicy: Always
  tag: "5"

imagePullSecrets:
  - name: harbor-registry-secret

service:
  type: ClusterIP
  port: 3000
  targetPort: 3000

ingress:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
